# visual studio code
.vscode/
.idea/
.lh/

# python
venv/
virtualenv/
__pycache__
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
docs/_build/
tutorials/assets/ResNet101_pretrained
*.pyc

# misc
.DS_Store

# results
*.npy
*.npz
*.png
*.jpg
*.jpeg

# notebook checkpoints
.ipynb_checkpoints

# pretrained weights
*.pdparams

# coverage
coverage.xml
.coverage